<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>projet1-17</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <p>Quel langage preferez vous ?</p>
        <label for="option1">HTML</label>
        <input type="radio" v-model="choix" value="HTML">
        <label for="option2">CSS</label>
        <input type="radio" v-model="choix" value="CSS">
        <label for="option3">JS</label>
        <input type="radio" v-model="choix" value="JS">
        <p>vous preferez ce langage : {{choix}}</p>
    </div>

    <script>
        app = Vue.createApp({
            data() {
                return {
                    choix: ''
                }
            }
        });
        app.mount('#app');
    </script>

</body>

</html>